@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap');

::selection {
    background: rgb(106, 211, 211);
    
  }
.submit {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.result {
    box-shadow: rgb(94, 155, 184) 0px 60px 40px -7px;
}

.word-spacing{
    word-spacing: 5px;
}
.neo{
    border-radius: 1px;
    color: ;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;      
}
.no-click{
    color: ;
    pointer-events: none;
}
.text-small {
    font-size:small;
}
.shadow-shine{
    box-shadow: 0 20px 50px rgba(3, 23, 37, 0.7);
    z-index: 3000;
}